# Node
node_modules/
dist/
.npm/
.pnpm-store/
coverage/

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# Env / segredos
.env
.env.*
*.env

# Logs e SO
*.log
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/

# Prisma / bancos locais
prisma/*.db
*.sqlite
*.sqlite3

# Build front/back
build/
chatbot/
chatbot/
chatbot-TCC/
